# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# ide
.idea/
.vscode

# python
**/__pycache__

# test-dbs
*.sqlite

# dependencies
photos-ui/node_modules
photos-ui/.pnp
photos-ui.pnp.js

# testing
photos-ui/coverage
photos/tests/.pytest_cache
**/.pytest_cache

# production
photos-ui/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# npm built stuff
/photos/web/static/

# python build stuff
/htmlcov
/data
/coverage.xml
/.coverage
